x-authored-by: API Evangelist
x-provenance:
  authored-by: API Evangelist
  method: generated
  generated: '2026-09-04'
  first-party: false
  note: >-
    NOT PUBLISHED BY APPLIED MATERIALS. This document was written by an API Evangelist
    scaffold pass, not harvested from the provider. Applied Materials, Inc. publishes no
    public developer portal, API reference, or machine-readable contract. Verified
    2026-09-04: api.appliedmaterials.com, developer.appliedmaterials.com,
    developers.appliedmaterials.com, docs.appliedmaterials.com and portal.appliedmaterials.com
    all return NXDOMAIN. The servers[] host in this file, api.applied-materials.com, is NOT a
    domain Applied Materials operates - applied-materials.com resolves to 121.254.178.252 and
    times out on connect; the company's real registrable domain is appliedmaterials.com
    (AkamaiGHost). Treat every path, schema and example here as illustrative, never as a
    contract Applied Materials serves.
openapi: 3.2.0
info:
  title: Applied Materials Management Equipment API
  description: API for managing semiconductor manufacturing equipment from Applied Materials, including equipment status monitoring, maintenance scheduling, and process recipe management for CVD, PVD, CMP, Etch, and other fab equipment.
  version: 1.0.0
  contact:
    name: Applied Materials
    url: https://www.applied-materials.com
  license:
    name: Proprietary
servers:
- url: https://api.applied-materials.com/v1
  description: Applied Materials Equipment API
security:
- bearerAuth: []
tags:
- name: Equipment
  description: Semiconductor manufacturing equipment management
paths:
  /equipment:
    get:
      operationId: listEquipment
      summary: Applied Materials - List Equipment
      description: Returns a list of semiconductor manufacturing equipment
      tags:
      - Equipment
      parameters:
      - name: type
        in: query
        description: Filter by equipment type (CVD, PVD, CMP, Etch)
        schema:
          type: string
      - name: status
        in: query
        description: Filter by operational status
        schema:
          type: string
          enum:
          - operational
          - maintenance
          - idle
          - error
      - name: location
        in: query
        description: Filter by fab location
        schema:
          type: string
      responses:
        '200':
          description: A list of equipment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Equipment'
              examples:
                ListEquipmentExample:
                  x-microcks-default: true
                  summary: Example equipment list
                  value:
                    data:
                    - equipmentId: AMAT-CVD-0042
                      serialNumber: CVD-2022-042-SN
                      model: Centura 5200
                      type: CVD
                      status: operational
                      location: Fab 1 Bay 3
        '401':
          description: Unauthorized - invalid or missing authentication token
  /equipment/{equipmentId}:
    get:
      operationId: getEquipment
      summary: Applied Materials - Get Equipment
      description: Returns details for a specific piece of equipment
      tags:
      - Equipment
      parameters:
      - name: equipmentId
        in: path
        required: true
        description: Unique equipment identifier
        schema:
          type: string
      responses:
        '200':
          description: Equipment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equipment'
              examples:
                GetEquipmentExample:
                  x-microcks-default: true
                  summary: Example equipment detail
                  value:
                    equipmentId: AMAT-CVD-0042
                    serialNumber: CVD-2022-042-SN
                    model: Centura 5200
                    type: CVD
                    status: operational
                    location: Fab 1 Bay 3
                    installDate: '2022-06-15'
                    lastMaintenanceDate: '2026-01-10'
        '404':
          description: Equipment not found
        '401':
          description: Unauthorized - invalid or missing authentication token
components:
  schemas:
    Equipment:
      title: Equipment
      description: Semiconductor manufacturing equipment
      type: object
      properties:
        equipmentId:
          type: string
          description: Unique equipment identifier
        serialNumber:
          type: string
          description: Equipment serial number
        model:
          type: string
          description: Equipment model name
        type:
          type: string
          description: Equipment type (CVD, PVD, CMP, Etch, etc.)
        status:
          type: string
          enum:
          - operational
          - maintenance
          - idle
          - error
          description: Current operational status
        location:
          type: string
          description: Fab location where equipment is installed
        installDate:
          type: string
          format: date
          description: Date equipment was installed
        lastMaintenanceDate:
          type: string
          format: date
          description: Date of last scheduled maintenance
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
